include ./common/navbar.pug
include ./common/head.pug

include ./include/mixinAddEditUser.pug
include ./include/mixinSelectDeleteUser.pug

doctype html
html(lang="en")
    +head("Admin Action Page")
    //link(rel="stylesheet" href="./css/adminActionPage.css")

    body
        - let navUserName = 'dada da';
        +navbar(navUserName)

        .container.mx-5.px-5.mt-4
            h1.text-center #{action} #{type}

            -if(type == "User")
                .row 
                    .col-3

                    .col-6
                        .container.mx-5.px-5.mt-2
                            -if(action == 'Select' || action == 'Delete')
                                +mixinSelectDeleteUser(type)

                            -if(action == 'Add' || action == 'Edit')
                                +mixinAddEditUser(type)

                    .col-3