include ./common/navbar.pug
include ./common/head.pug

include ./include/mixinAddEditUser.pug
include ./include/mixinSelectDeleteUser.pug

doctype html
html(lang="en")
    +head("Admin Action Page")
    link(rel="stylesheet" href="./css/adminActionPage.css")

    body
        +navbar(userName, userRole)

        .container.mx-5.px-5.mt-4
            h1.text-center #{action} #{type}
            .row 
                .col-lg-3

                .col-lg-6
                    .container.mx-5.px-5.mt-2
                        -if(action == 'Select' || action == 'Delete')
                            +mixinSelectDeleteUser(action, type, results)

                        -if(action == 'Add' || action == 'Edit')
                            +mixinAddEditUser(action, type)

                .col-lg-3

        script(src="./js/adminAction.js") 