include ./common/navbar.pug
include ./common/head.pug
include ./include/mixinAnimeCard.pug
include ./include/mixinGenreDiv.pug

doctype html
html(lang="en")
    +head("Search Results Page")
    link(rel="stylesheet" href="./css/genrePage.css")

    body
        +navbar(userName, userRole, userAvatar)

        .container.mt-3.p-5
            .row
                .col-12.title
                    h1 "#{animeTitle}" search results


            .row
                each anime in animes 
                    -anime.animeTitle = anime.title
                    +mixinGenreDiv(anime)