include ./common/navbar.pug
include ./common/head.pug
include ./include/mixinCharacterCard.pug

doctype html
html(lang="en")
    +head("Characters Page")
    link(rel="stylesheet" href="./css/animePage.css")
    body 
        - let navUserName = 'dada da';
        +navbar(navUserName)
        
        - name = name.charAt(0).toUpperCase() + name.slice(1)
        .container.mt-3.p-5
            .row.mb-5
                .col-12.title
                    h1 #{name}'s list of characters

            - const character = {};
            - character.name = "ASD";
            - character.imgPath = './images/characters/naruto/asd.jpg';

            .row 
                +mixinCharacterCard(character)
                +mixinCharacterCard(character)
                +mixinCharacterCard(character)
                +mixinCharacterCard(character)
                +mixinCharacterCard(character)
                +mixinCharacterCard(character)
                +mixinCharacterCard(character)
                +mixinCharacterCard(character)
                +mixinCharacterCard(character)
                +mixinCharacterCard(character)
