include ./common/navbar.pug
include ./common/head.pug
include ./include/mixinCharacterCard.pug

doctype html
html(lang="en")
    +head("Characters Page")
    link(rel="stylesheet" href="./css/animePage.css")
    body 
        +navbar(userName, userRole)
        
        - animeTitle = animeTitle.charAt(0).toUpperCase() + animeTitle.slice(1)
        .container.mt-3.p-5
            .row.mb-5
                .col-12.title
                    h1 #{animeTitle}'s list of characters

            .row 
                each character in characters
                    - character.imgPath = './images/characters/naruto/asd (2).jpg';
                    +mixinCharacterCard(character)

