include ./include/mixinAnimeCard.pug
include ./include/statistics.pug
include ./include/mixinRecentComment.pug
include ./common/navbar.pug
include ./common/head.pug

doctype html
html(lang="en")
    +head('Fan Anime Manga')
    body 
       
        +navbar('dada')
        
        - const anime = {};
        - anime.imgPath = './images/Naruto.jpg';
        - anime.title = 'Naruto';

        .container 
            .row
                // - - - - - - - - - - Anime Cards Carousel - - - - - - - - - - - - - - -
                .col-8 
                    .row
                        .col-12
                            .container.carousel-container.mt-3
                                h4 Top Animes
                                #myAnimeCarousel.carousel.slide(data-interval='false')
                                    // Indicators
                                    ol.carousel-indicators
                                        li.active(data-target='#myAnimeCarousel' data-slide-to='0')
                                        li(data-target='#myAnimeCarousel' data-slide-to='1')
                                        li(data-target='#myAnimeCarousel' data-slide-to='2')
                                    // Wrapper for slides
                                    .carousel-inner
                                        .item.active
                                            .container
                                                .d-flex.cards-container
                                                    -for(let i=0; i<4; i++)
                                                        -topAnimes[i].imgPath = './images/Naruto.jpg';
                                                        +mixinAnimeCard(topAnimes[i])

                                        .item
                                            .container
                                                .d-flex.cards-container
                                                    -for(let i=4; i<8; i++)
                                                        -topAnimes[i].imgPath = './images/Naruto.jpg';
                                                        +mixinAnimeCard(topAnimes[i])
                                        .item
                                            .container
                                                .d-flex.cards-container
                                                    -for(let i=8; i<12; i++)
                                                        -topAnimes[i].imgPath = './images/Naruto.jpg';
                                                        +mixinAnimeCard(topAnimes[i])
                                                    
                                    // Left and right controls
                                    a.left.carousel-control.rounded-2(href='#myAnimeCarousel' data-slide='prev')
                                        .container-fluid.left-button
                                            .button
                                                svg(xmlns='http://www.w3.org/2000/svg' aria-hidden='true' role='img' width='48' height='48' preserveaspectratio='xMidYMid meet' viewbox='0 0 24 24')
                                                    g(fill='none' stroke='black' stroke-width='2')
                                                        circle(cx='12' cy='12' r='10')
                                                        path(stroke-linecap='round' stroke-linejoin='round' d='m13.5 8l-4 4l4 4')

                                            span.glyphicon.glyphicon-chevron-left
                                            span.sr-only Previous
                                    a.right.carousel-control.rounded-2(href='#myAnimeCarousel' data-slide='next')
                                        .container-fluid.left-button
                                            .button 
                                                svg(xmlns='http://www.w3.org/2000/svg' aria-hidden='true' role='img' width='48' height='48' preserveaspectratio='xMidYMid meet' viewbox='0 0 24 24')
                                                    g(fill='none' stroke='black' stroke-width='2')
                                                        circle(cx='12' cy='12' r='10')
                                                        path(stroke-linecap='round' stroke-linejoin='round' d='m10.5 8l4 4l-4 4')

                                            span.glyphicon.glyphicon-chevron-right
                                            span.sr-only Next
                    .row 
                        .col-12
                            .container.carousel-container.mt-5
                                h4 Top Manga
                                #myMangaCarousel.carousel.slide(data-interval='false')
                                    // Indicators
                                    ol.carousel-indicators
                                        li.active(data-target='#myMangaCarousel' data-slide-to='0')
                                        li(data-target='#myMangaCarousel' data-slide-to='1')
                                        li(data-target='#myMangaCarousel' data-slide-to='2')
                                    // Wrapper for slides
                                    .carousel-inner
                                        .item.active
                                            .container
                                                .d-flex.cards-container
                                                    +mixinAnimeCard(anime)
                                                    +mixinAnimeCard(anime)
                                                    +mixinAnimeCard(anime)
                                                    +mixinAnimeCard(anime)
                                        .item
                                            .container
                                                .d-flex.cards-container
                                                    +mixinAnimeCard(anime)
                                                    +mixinAnimeCard(anime)
                                                    +mixinAnimeCard(anime)
                                                    +mixinAnimeCard(anime)
                                        .item
                                            .container
                                                .d-flex.cards-container
                                                    +mixinAnimeCard(anime)
                                                    +mixinAnimeCard(anime)
                                                    +mixinAnimeCard(anime)
                                                    +mixinAnimeCard(anime)
                                                    
                                    // Left and right controls
                                    a.left.carousel-control.rounded-2(href='#myMangaCarousel' data-slide='prev')
                                        .container-fluid.left-button
                                            .button
                                                svg(xmlns='http://www.w3.org/2000/svg' aria-hidden='true' role='img' width='48' height='48' preserveaspectratio='xMidYMid meet' viewbox='0 0 24 24')
                                                    g(fill='none' stroke='black' stroke-width='2')
                                                        circle(cx='12' cy='12' r='10')
                                                        path(stroke-linecap='round' stroke-linejoin='round' d='m13.5 8l-4 4l4 4')

                                            span.glyphicon.glyphicon-chevron-left
                                            span.sr-only Previous
                                    a.right.carousel-control.rounded-2(href='#myMangaCarousel' data-slide='next')
                                        .container-fluid.left-button
                                            .button 
                                                svg(xmlns='http://www.w3.org/2000/svg' aria-hidden='true' role='img' width='48' height='48' preserveaspectratio='xMidYMid meet' viewbox='0 0 24 24')
                                                    g(fill='none' stroke='black' stroke-width='2')
                                                        circle(cx='12' cy='12' r='10')
                                                        path(stroke-linecap='round' stroke-linejoin='round' d='m10.5 8l4 4l-4 4')

                                            span.glyphicon.glyphicon-chevron-right
                                            span.sr-only Next
                    .row
                        .col-12  
                            .container-fluid.mt-5
                                h4 Recently added anime
                                .recently-added.d-flex.justify-content-evenly
                                    each anime in recentAnimes
                                        -anime.imgPath = './images/Naruto.jpg';
                                        +mixinAnimeCard(anime)
                                    
                    
                    .row
                        .col-12  
                            .container-fluid.mt-5
                                h4 Recently added manga
                                .recently-added.d-flex.justify-content-evenly
                                    +mixinAnimeCard(anime)
                                    +mixinAnimeCard(anime)
                                    +mixinAnimeCard(anime)
                                    +mixinAnimeCard(anime)
                                    +mixinAnimeCard(anime)
                                    +mixinAnimeCard(anime)
                // - - - - - - - - - - Sidebar - - - - - - - - - - - - - - -
                .col-4
                    // Statistics
                    .row
                        .col-12
                            .container-fluid.my-5.statistics.py-4
                                +statistics(statistics)
                    .row.mt-5
                        .col-12 
                            .container-fluid.recent-reviews-div.rounded
                                p.reviews-title Recent anime comments
                                hr
                                each comment in recentComments
                                    +mixinRecentComment(comment)
                    
    
        
        script(src="js/index.js")


