doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Register
        link(rel="stylesheet" href="./css/bootstrap.min.css")
        link(rel="stylesheet" href="./css/login-register.css")
        link(rel="shortcut icon" href="#")
    body
        .container.login-container.register-container.bg-white
            .row.text-center.mt-4
                .login-title
                    .display-6
                        strong Register
            .row.p-3
                form(action="/register", method="POST")
                    .mb-4.mt-3.mx-3
                        label.form-label(for="username") Username:
                        input#username.form-control.border.rounded.border-1(type="text" placeholder="Enter username" name="username")
                    .mb-4.mt-3.mx-3
                        label.form-label(for="email") Email:
                        input#email.form-control.border.rounded.border-1(type="email" placeholder="Enter email" name="email")
                    .mb-4.mx-3
                        label.form-label(for="pwd") Password:
                        input#pwd.form-control.border.rounded.border-1(type="password" placeholder="Enter password" name="pswd")
                    button.mx-3.btn.btn-primary.rounded(type="submit") Register
                    .m-3
                        p  Already have an account? 
                            a(href="/login") Log in here
