* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.jumboimg {
    background-image: url('../images/anime-wallpaper.jpg');
    background-position: center;
    background-size: cover;
    width: 100%;
    background-repeat: no-repeat;
    min-height: 330px;

    display: flex;
    justify-content: center;
}

.jumboimg>h1 {
    font-weight: bolder;
}

.img-watchlist {
    height: 140px;
    width: 97px;
    object-fit: cover;
    border-radius: 2px;
}


.single-entry-div{
    background-color: #DCDCDC;
}

.single-entry-div a{
    text-decoration: none;
    color: black;
}