html, body{
    box-sizing: border-box;
}

.delete-icon{
    width: 22px;
    height: 22px;
}

.delete-icon:hover{
    color: var(--bs-danger);
}

.edit-icon{
    width: 25px;
    height: 25px;
    margin-right: 7px;
}

.edit-icon:hover{
    color: var(--bs-warning);
}

.login-logout-span{
    box-sizing: border-box;
    height: 50px;
    width: auto;
}

.login-logout-span a{
    font-size: 1.3em;
    text-decoration: none;
}