mixin mixinGenreDiv(anime)
    .col-2.mt-5.d-flex.justify-content-center
        +mixinAnimeCard(anime, type)

mixin mixinFavDiv(anime)
    .col-4.mt-5.d-flex.justify-content-center
        +mixinAnimeCard(anime, type)