mixin mixinComment(com)
    // Comment container
    .container.my-4.py-3
        .row
            // Avatar + author name(under)
            .col-2.text-center.p-0
                div
                    p.display-2 😀
                div 
                    p
                        strong #{com.username}

            .col-10.container.p-0
                // Date + (edited) + close button
                .row 
                    span.small #{com.comDate} 
                        span.small(title=`last edit : `)
                            //strong #{messageEdit}

                        if(userName && userName === com.username)
                            span
                                .float-end
                                    // Edit button + icon
                                    - let messageEscaped = com.message.replace(/[&\/\\#,+()$~%.'":*?<>]/g, '\\$&')

                                    span(type="button" class="" aria-label="Edit")
                                        svg.edit-icon(xmlns='http://www.w3.org/2000/svg' aria-hidden='true' role='img' width='1em' height='1em' preserveaspectratio='xMidYMid meet' viewbox='0 0 24 24')
                                            path(d='M19.045 7.401c.378-.378.586-.88.586-1.414s-.208-1.036-.586-1.414l-1.586-1.586c-.378-.378-.88-.586-1.414-.586s-1.036.208-1.413.585L4 13.585V18h4.413L19.045 7.401zm-3-3l1.587 1.585l-1.59 1.584l-1.586-1.585l1.589-1.584zM6 16v-1.585l7.04-7.018l1.586 1.586L7.587 16H6zm-2 4h16v2H4z' fill='currentColor')

                                    // Delete button + icon
                                    span(type="button" class="" aria-label="Close")
                                        svg.bi.bi-trash3.delete-icon(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
                                            path(d='M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z')


                // Message
                .row 
                    div
                        h6 #{com.text}
        hr
