mixin mixinSelectDeleteUser(type)
    div
        form
            .mb-3
                label.form-label(for='exampleInputEmail1') Field 1
                input#exampleInputEmail1.form-control(type='email' aria-describedby='emailHelp')
                #emailHelp.form-text
            .mb-3
                label.form-label(for='exampleInputPassword1') Field 2
                input#exampleInputPassword1.form-control(type='password')
            .mb-3
                label.form-label(for='exampleInputPassword1') Field 3
                input#exampleInputPassword1.form-control(type='password')
            .mb-3
                label.form-label(for='exampleInputPassword1') Field 4
                input#exampleInputPassword1.form-control(type='password')
            button.btn.btn-primary(type='submit') Submit