mixin mixinGenreDiv(anime, type)
    .col-2.mt-5.d-flex.justify-content-center
        +mixinAnimeCard(anime, type)

mixin mixinFavDiv(anime, type)
    .col-4.mt-5.d-flex.justify-content-center
        +mixinAnimeCard(anime, type)