mixin statistics()
    table.table.table-striped
        thead
            tr
                th.stats-title(scope='col') My statistics
        tbody
            tr
                th(scope='row') Animes watched
                td 22
            tr
                th(scope='row') Manga read
                td 12
            tr
                th(scope='row') Number of friends
                td(colspan='2') 3
            tr
                th(scope='row') Favorite genre
                td(colspan='2') Adventure