mixin statistics()
    table.table.table-striped
        thead
            tr
                th.stats-title(scope='col') My statistics
        tbody
            tr
                th(scope='row') Animes watched
                td #{statistics.numberOfAnimesWatched}
            tr
                th(scope='row') Manga read
                td #{statistics.numberOfMangasRead}
            tr
                th(scope='row') Number of friends
                td(colspan='2') #{statistics.numberOfFriends}
            tr
                th(scope='row') Favorite genre
                -if(statistics.favoriteGenre && statistics.favoriteGenre.genreName)
                    td(colspan='2') #{statistics.favoriteGenre.genreName}
                -else
                    td(colspan='2') -