mixin head(pageTitle)
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")

        base(href="/")

        link(rel="stylesheet" href="./css/bootstrap.min.css")
        link(rel="stylesheet" href="./css/index.css")

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Oxygen:wght@300&family=Poppins:wght@300&display=swap" rel="stylesheet"> 




        script(src='js/jquery-3.6.0.min.js')
        script(src='js/bootstrap-3.4.1.min.js')
        script(src='js/bootstrap.min.js')

        link(rel="shortcut icon" href="#")
        title #{pageTitle}